div[smv-type="widgetpage"] {
  .pagamento_sucesso {
    @include flex(column, center, center, center);
    margin: 1.5rem 0;

    i {
      margin-bottom: 1.5rem;
    }

    img {
      width: 5rem;
    }

    .container-btn {
      margin-top: 1.5rem;
      @include flex(row, center, flex-end, flex-end);

      a {
        margin: 0 1rem;
      }
    }
  }

  .payreturn__multibanco {
    width: 100%;
    max-width: 580px;
    border: 2px solid $secondary-02;
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem 0 0;
    margin: 1.5rem 0;

    img {
      height: 4rem;
      width: auto;
    }

    table {
      margin-bottom: 0;
      border: 0px;

      tr {
        @include flex(row, space-between, center, center);
        border-radius: 0;
        margin-bottom: 0;

        &:last-child {
          border-bottom: none;
        }

        td {
          &:first-child {
            text-align: left;
          }
        }
      }
    }
  }

  .payreturn__mbway {
    border: 2px solid $secondary-02;
    border-radius: .5rem;
    @include font(1.6rem, 700, 1.4em);
    text-align: center;
    padding: 0 1.5rem 1.5rem;
    margin-bottom: 3rem;

    img {
      height: 10rem;
      width: auto;
    }
  }

  .container-detalhes {
    width: 50%;
    margin: 0 auto 3rem;

    @include sm {
      width: 100%;
    }
  }

  .clube-detalhes {
    text-align: center;

    img {
      width: auto;
      height: 7rem;
      margin: 1.5rem 0;
    }

    p {
      color: $black-01;
      @include font(1.4rem, 900, 1.2em);
      text-transform: uppercase;
    }
  }
}